/* Font and general styling */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Arial", sans-serif;
    color: #333;
    justify-content: center;
    align-items: center;
}

/* Table styling */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #e6f7ff;
}

.table-hover tbody tr:hover {
    background-color: #cce5ff;
}

/* Custom styles for the table */
.table-bordered {
    border: 2px solid rgb(16, 15, 15);
}

.table-bordered th,
.table-bordered td {
    border: 2px solid rgb(22, 20, 20);
}
