{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eligibility-Page-Pragati</title>
    <link rel="stylesheet" href="{% static 'css/application.css' %}">
</head>
<body>
    <header>
        <h1>Application Process</h1>
    </header>
    <div class="content-container">
        <ul class="process-list">
            <li>
                <span class="step">Step1</span>
                <p>Complete the  registration form.</p>
            </li>
            <li>
                <span class="step">Step 2</span>
                <p>Provide any necessary supporting documents, such as academic transcripts or financial statements.</p>
            </li>
            <li>
                <span class="step">Step 3</span>
                <p>Submit the completed application form and documents to the NGO Management System.</p>
            </li>
            <li>
                <span class="step">Step 4</span>
                <p>Wait for the review process to be completed. Our team will assess your application and notify you of the outcome.</p>
            </li>
            <li>
                <span class="step">Step 5</span>
                <p>If approved, you will receive confirmation of your renewal and any further instructions.</p>
            </li>
        </ul>
    </div>
    <footer>
       
        <p>For any queries, email us at <a href="mailto:info@pragati.org">info@pragati.org</a></p>
    </footer>
</body>
</html>
