{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
    <link rel="stylesheet" href="{% static 'css/sstyles.css' %}"> 
</head>
<body class=garibi>

<div class="container">
    
    <h2 class="wlcm">Welcome, Student!</h2>

    <button class="block-btn" onclick="location.href='/eligibility'">Eligibility Criteria</button>
    <button class="block-btn" onclick="location.href='/renewal'">Renewal</button>
    <button class="block-btn" onclick="location.href='/application'">Application Process</button>
    <button class="block-btn" onclick="location.href='/apply_fresh'">Apply Fresh</button>
    
</div>

<div>
    <p class="info-paragraph">Scholarship window open for Batch of 2024-25<br>Last date: 31st January 2025</p>
</div>
<div class="backbutton">
  <button  onclick="location.href='/home'">Back</button>
</div>

</body>
</html>
