<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor_page</title>
    <link rel="stylesheet" href="donorpage.css">
</head>

<body>
    <header class="bgimg-1" id="home">
        <div class="text">
            <span class="hello">Get something important started.</span><br><br>
            <span class="hello">Give Today to Support a Better Tomorrow Promise</span>
            <span class="w3-large"></span>
            <form action='\aple'>
                <button type="submit" class="btn">PLEDGE</button>
            </form>
        </div> 
        <!-- <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div> -->
    </header>
</body>

</html>
