<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pledge History</title>
    <link rel="stylesheet" href="pledgehistory.css">
</head>

<body>
    <h1 class="h3 mb-3 fw-normal">Pledge History</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Money</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Periodicity</th>
                <th scope="col">Status</th>
                <th scope="col">Books/uniforms Given</th>
            </tr>
        </thead>
        <tbody>
            {% for pledge in pledgelist %}
            <tr>
                <td>{{ pledge.money }}</td>
                <td><a href="showdonor/{{ pledge.donor.id }}">{{ pledge.donor.user.first_name }}</a></td>
                <td>{{ pledge.donor.user.username }}</td>
                <td>{{ pledge.frequency }}</td>
                <td><a href="{% url 'click-paid' pledge.id %}">{{ pledge.status }}</a></td>
                <td><a href="{% url 'click-ub' pledge.id %}">{{ pledge.ubstatus }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
