<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estimates</title>
    <link rel="stylesheet" href="est.css">
</head>

<body>
    <form method="post">

        <div class="mb-3">
            <label for="No. of Books" class="form-label">Books</label>
            <input type="number" class="form-control" id="book" name="book" placeholder="bookname">
        </div>
        <div class="mb-3">
            <label for="No. of Uniform" class="form-label">Uniform</label>
            <input type="number" class="form-control" id="uniform" name="uniform" placeholder="unofrmms">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>
