<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estimates History</title>
    <link rel="stylesheet" href="expenditurelist.css">
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Expenditure Amount</th>
                <th scope="col">Reason</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ expend.expe }}</td>
                <td>{{ expend.rec }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Total = {{ total.exp }}</td>
                <td><a href="{% url 'aexpend' %}">Update</a></td>
            </tr>
        </tfoot>
    </table>
</body>

</html>
