{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pragati - Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Hstyles.css' %}">
    <script>
        function scrollToAbout() {
            var aboutSection = document.getElementById("about-section");
            aboutSection.scrollIntoView({ behavior: 'smooth' });
        }
    </script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/128/4299/4299415.png" alt="Pragati Logo">
            <h1>Pragati</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about" onclick="scrollToAbout()">About Us</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Get Involved</a>
                    <div class="dropdown-content">
                        <a href="/As_Student">As Student</a>
                        <a href="/register_Donor">As Donor</a>
                        <a href="/login">As Admin</a>
                    </div>
                </li>
                <li><a href="/login" class="login-btn">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Your main content goes here -->
        <div class="quote">
            <p>"Invest in education today</p><br><p> for a brighter tomorrow"</p>
        </div>
    </main>
    <footer>
        <!-- Your footer content goes here -->
    </footer>
    <!-- This is an empty section where the "About Us" content will be loaded -->
    <section id="about-section"></section>


    


</body>
</html>