<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVENTORY</title>
    <link rel="stylesheet" href="inve.css">
</head>

<body>
    <form method="post">
        <div class="mb-3">
            <label for="No. of Books" class="form-label">Books</label>
            <input type="number" class="form-control" id="book" name="book" placeholder="Enter number of books">
        </div>
        <div class="mb-3">
            <label for="No. of Uniform" class="form-label">Uniform</label>
            <input type="number" class="form-control" id="uniform" name="uniform" placeholder="Enter number of uniforms">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>
