<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_page</title>
    <link rel="stylesheet" href="modifystudent.css">
</head>

<body>
    <form action="#" method="post">
        <div class="mb-3">
            <label for="fullname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full name">
        </div>
        <div class="mb-3">
            <label for="sclass" class="form-label">Standard</label>
            <input type="Number" class="form-control" id="sclass" name="sclass" placeholder="Standard">
        </div>
        <div class="mb-3">
            <label for="familyincome" class="form-label">Family Income</label>
            <input type="Number" class="form-control" id="familyincome" name="familyincome" placeholder="Family Income">
        </div>
        <div class="mb-3">
            <label for="moneyneeded" class="form-label">Money Needed</label>
            <input type="Number" class="form-control" id="moneyneeded" name="moneyneeded" placeholder="Money Needed">
        </div>
        <label for="books" class="form-label">Books</label>
        <input type="checkbox" name="books" placeholder="Books"><br>
        <label for="uniform" class="form-label">Uniform</label>
        <input type="checkbox" name="uniform" placeholder="Uniform"><br>
        <div class="mb-3">
            <label for="performance" class="form-label">Performance</label>
            <input type="Number" class="form-control" id="performance" name="performance" placeholder="Performance">
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <input type="text" class="form-control" id="gender" name="gender" placeholder="Gender">
        </div>
        <button type="submit">Submit</button>
    </form>

    <div class='container'>
        <form action="#" method="post">
            <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
            </div>
            <div class="mb-3">
                <label for="email_id" class="form-label">Email ID</label>
                <input type="text" class="form-control" id="email_id" name="email_id" placeholder="Email ID">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
            </div>
            <div class="mb-3">
                <label for="phone_number" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>
