<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
    <link rel="stylesheet" href="studentlist.css">
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Class</th>
                <th scope="col">Family Income</th>
                <th scope="col">Money Needed</th>
                <th scope="col">Books Needed</th>
                <th scope="col">Uniform Needed</th>
                <th scope="col">Performance</th>
                <th scope="col">Gender</th>
                <th scope="col">Preference Score</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
         
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.fullname }}</td>
                <td>{{ student.sclass }}</td>
                <td>{{ student.familyincome }}</td>
                <td>{{ student.moneyneeded }}</td>
                <td>{{ student.booksneeded }}</td>
                <td>{{ student.uniformneeded }}</td>
                <td>{{ student.performance }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.preferencescore }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'modify_student' student.id %}">Modify</a>
                    <a class="btn btn-primary" href="{% url 'delete_student' student.id %}">Delete</a>
                </td>
            </tr>
  
        </tbody>
    </table>
</body>

</html>
